package layouts

templ HeaderCSS() {
	<style>
        .header {
            background: #3f3f3f;
            text-align: center;
        }
    </style>
}

templ Header() {
    @HeaderCSS()
	<div class="header">
		@Menu()
		{ children... }
	</div>
}
