package layouts

type LayoutProps struct {
	Title    string
	MetaDesc string
}

templ Layout(props LayoutProps) {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
			<title>{ props.Title }</title>
			<link rel="stylesheet" href="/public/styles.css"/>
			<meta name="description" content={ props.MetaDesc }/>
		</head>
		<body>
			{ children... }
		</body>
	</html>
}
