package components

templ SubTitleCSS() {
	<style>
        .subtitle {
            font-size: 18px;
            color: #bababa;
        }
    </style>
}

templ SubTitle(st string) {
	@SubTitleCSS()
	<h3 class="subtitle">{ st }</h3>
}
