package views

import (
	"go-fullstack/internal/vacancy"
	"go-fullstack/views/components"
	"go-fullstack/views/layouts"
	"go-fullstack/views/widgets"
)

templ MainCSS() {
	<style>
        .main__submit-form {
            background: rgba(48, 150, 137, .1);
            display: flex;
            align-items: center;
            justify-content: center;    
            padding: 60px 0 120px;
        }
    </style>
}

templ Main(vacancies []vacancy.Vacancy, pagesCount, page int) {
	@layouts.Layout(layouts.LayoutProps{
		Title:    "Главная страница",
		MetaDesc: "Сайт по поиску работы мечты",
	}) {
		<main>
			@MainCSS()
			@layouts.Header() {
				@components.Title("Найди работу своей мечты")
				@components.SubTitle("Простой поиск работы")
			}
			@widgets.VacancyList(vacancies, pagesCount, page)
			<div class="main__submit-form">
				@widgets.VacancyForm()
			</div>
		</main>
	}
}
