@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --color-white: #fff;
    --color-primary: #309689;
    --transition: all .2s
}

body {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}

* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}